<div class="dashboard">
  <div class="dashboard__section-title">
    <span class="dashboard__bullet"></span>
    <h2>{{ 'dashboard.manageSections' | translate }}</h2>
  </div>

  <div class="dashboard__grid">
    @for (link of links(); track link.path) {
      <a [routerLink]="link.path" class="dashboard__card">
        <div class="dashboard__card-top">
          <span class="dashboard__card-icon">
            <mat-icon>{{ link.icon }}</mat-icon>
          </span>
          @if (countFor(link) !== null) {
            <span class="dashboard__card-count">{{ countFor(link) }}</span>
          }
        </div>
        <span class="dashboard__card-label">{{ link.labelKey | translate }}</span>
        <span class="dashboard__card-description">{{ link.descriptionKey | translate }}</span>
      </a>
    }
  </div>

  <div class="dashboard__activity">
    @for (item of recentActivity(); track item.title) {
      <a [routerLink]="item.path" class="dashboard__activity-row">
        <span class="dashboard__activity-icon" [class]="item.iconClass">
          <mat-icon>{{ item.icon }}</mat-icon>
        </span>
        <div class="dashboard__activity-text">
          <span class="dashboard__activity-title">{{ item.title }}</span>
          <span class="dashboard__activity-meta">{{ item.section | translate }} &middot; {{ item.date | localizedDate }}</span>
        </div>
        <app-status-badge [status]="item.status" />
      </a>
    }
  </div>
</div>
